<!DOCTYPE html >
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <form action="/uploadFile" method='post' enctype="multipart/form-data">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            视频地址:<input type="file" name="video" id="videoFile">
            <br>
            右眼眼动数据地址:<input type="file" name="rData" id="rDataFile">
            <br>
            左眼眼动数据地址:<input type="file" name="lData" id="lDataFile">
            <br>
            <input type="submit" name="analysis">
        </form>
    </div>

    <div class="col-md-6">
        <form id="extract1" name="extractForm" method="post">
            <div class="row">
                <label>查看基本视频信息:</label>
                <button type="submit">确定</button>
            </div>
        </form>
        <br><br>
        <form id="extract2" name="extractForm" method="post" >
            <div class="row">
                <label>输入特定秒数:</label>
                <input type="text" name="num" id="num" class="form-control">
                <br>
                <button type="submit" style="display: block; margin: 0 auto">确定</button>
            </div>
        </form>
        <br><br>
         <form id="extract3" name="extractForm" method="post" >
             <label>视频连续提取:</label>
             <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">开始时间(可选):</span>
                        <input type="text" name="3" id="start" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">结束时间(可选):</span>
                        <input type="text" name="3" id="end" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" style="display: block; margin: 0 auto">确定</button>
         </form>
         <br><br>
        <form id="extract4" name="extractForm" method="post" >
            <div class="row">
                <label>指定提取间隔:</label>
            </div>

            <div class="row">
                <div class="col-md">
                    <div class="input-group">
                        <span class="input-group-addon">提取间隔:</span>
                        <input type="text" name="4" id="interval" class="form-control">
                    </div>
                </div>
                <br><br>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">开始时间(可选):</span>
                        <input type="text" name="4" id="interval_start" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">结束时间(可选):</span>
                        <input type="text" name="4" id="interval_end" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" style="display: block; margin: 0 auto">确定</button>
        </form>
    </div>
</div>

<script>
    var convert_FormData_to_json = function (formData) {
    var objData = {};
    for (var entry in formData.entries()){
        objData[entry[0]] = entry[1];}
    console.log(objData)
    return JSON.stringify(objData);
};

    // var extractForm1 = document.querySelector('form');
    var extractForm1 = document.getElementById('extract1');
    extractForm1.addEventListener('submit', function(event){
        event.preventDefault();

        var http = new XMLHttpRequest();
        http.open('POST', '/uploadFile');
        http.setRequestHeader('Content-Type', 'application/json');
        http.send("extract1_confirm");

    }, false)
</script>

</body>

