<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>pie</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7ec640cb5a6149c384b54139592db3ab" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7ec640cb5a6149c384b54139592db3ab = echarts.init(
            document.getElementById('7ec640cb5a6149c384b54139592db3ab'), 'white', {renderer: 'canvas'});
        var option_7ec640cb5a6149c384b54139592db3ab = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u6ce8\u89c6\u70b9\u6570\u91cf\u997c\u72b6\u56fe",
            "clockwise": true,
            "data": [
                {
                    "name": "table",
                    "value": 2
                },
                {
                    "name": "desk",
                    "value": 1
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "table",
                "desk"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    }
};
        chart_7ec640cb5a6149c384b54139592db3ab.setOption(option_7ec640cb5a6149c384b54139592db3ab);
    </script>
</body>
</html>
